/Kubernets/Projeto 1/application/node_modules
/node_modules
/Projeto 1/application/node_modules
node_modules
/application/node_modules
\presentation\d\1vxsqwwPDZpivsSvdCCEB4p_a0mIepf0LOpyd6oucRiY\edit